<a href="https://colab.research.google.com/github/flohmannjr/Alcohol_and_Life_Expectancy/blob/main/Alcohol_and_Life_Expectancy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alcohol and Life Expectancy

Kaggle source: https://www.kaggle.com/datasets/thedevastator/relationship-between-alcohol-consumption-and-lif

# Imports

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Config

In [2]:
plt.rcParams['figure.figsize'] = [8, 5]
plt.rcParams['figure.dpi'] = 100

plt.style.use('seaborn-darkgrid')

SEED = 2008193

# Data

In [3]:
df_drinks  = pd.read_csv('https://raw.githubusercontent.com/flohmannjr/Alcohol_and_Life_Expectancy/main/drinks.csv')
df_lifeexp = pd.read_csv('https://raw.githubusercontent.com/flohmannjr/Alcohol_and_Life_Expectancy/main/lifeexpectancy-verbose.csv')

In [4]:
df_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         193 non-null    int64
 1   country                       193 non-null    object
 2   beer_servings                 193 non-null    int64
 3   spirit_servings               193 non-null    int64
 4   wine_servings                 193 non-null    int64
 5   total_litres_of_pure_alcohol  193 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 9.2+ KB

| **Column name**              | **Description**                                                  |
|------------------------------|------------------------------------------------------------------|
| country                      | Name of the country.                                             |
| beer_servings                | Number of beer servings per person in the country.               |
| spirit_servings              | Number of spirit servings per person in the country.             |
| wine_servings                | Number of wine servings per person in the country.               |
| total_litres_of_pure_alcohol | Total litres of pure alcohol consumed per person in the country. |

In [5]:
df_lifeexp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6408 entries, 0 to 6407
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   index                          6408 non-null   int64
 1   GhoCode                        6408 non-null   object
 2   GhoDisplay                     6408 non-null   object
 3   PublishStateCode               6408 non-null   object
 4   PublishStateDisplay            6408 non-null   object
 5   YearCode                       6408 non-null   int64
 6   YearDisplay                    6408 non-null   int64
 7   RegionCode                     6408 non-null   object
 8   RegionDisplay                  6408 non-null   object
 9   WorldBankIncomeGroupGroupCode  5244 non-null   object
 10  WorldBankIncomeGroupDisplay    5244 non-null   object
 11  CountryCode                    6408 non-null   object
 12  CountryDisplay                 6408 non-null   object
 13  SexCode                        6408 non-null   object
 14  SexDisplay                     6408 non-null   object
 15  DisplayValue                   6408 non-null   int64
 16  Numeric                        6408 non-null   float64
dtypes: float64(1), int64(4), object(12)
memory usage: 851.2+ KB

| **Column name**               | **Description**                                 |
|-------------------------------|-------------------------------------------------|
| GhoCode                       | Global Health Observatory code                  |
| GhoDisplay                    | Global Health Observatory display name          |
| PublishStateCode              | Publish state code                              |
| PublishStateDisplay           | Publish state display name                      |
| YearCode                      | Year code                                       |
| YearDisplay                   | Year display name                               |
| RegionCode                    | Region code                                     |
| RegionDisplay                 | Region display name                             |
| WorldBankIncomeGroupGroupCode | World Bank Income Group Group Code              |
| WorldBankIncomeGroupDisplay   | World Bank Income Group Display Name            |
| CountryCode                   | Country code                                    |
| CountryDisplay                | Country display name                            |
| SexCode                       | Sex code                                        |
| SexDisplay                    | Sex display name                                |
| DisplayValue                  | Display value                                   |
| Numeric                       | Numeric value                                   |